.navigation-bar {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 30% 70%;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 5px solid white;
}

.navigation-info-section {
    padding: 10px;
}

.navigation-links {
    padding: 20px;
    text-align: end;
}
