section {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 40px auto;
}

h1 {
    margin: 20px;
    color: gray;
    font-size: 30px;
    font-family: monospace;
}

button {
    border: 3px solid white;
}