button {
    font-size: 15px;
    font-family: monospace;
    margin-bottom: 5px;
    background: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}