<h1>Login</h1>

<section [formGroup]="loginForm">
    <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input formControlName="login" matInput placeholder="Login">
        <mat-error>
            <custom-error [fieldName]="'Login'" [errors]="loginForm.controls['login'].errors">
            </custom-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="Password">
        <mat-error>
            <custom-error [fieldName]="'Password'" [errors]="loginForm.controls['password'].errors">
            </custom-error>
        </mat-error>
    </mat-form-field>

    <button mat-button (click)="submit()" appearance="fill">Submit</button>
</section>