<h1 class="title-page">Add user card:</h1>
<form [formGroup]="userForm" class="form" (ngSubmit)="onSubmit(userForm)">
    <input formControlName="userName" class="input-form" type="text" placeholder="Name">
    <input formControlName="userSurname" class="input-form" type="text" placeholder="Surname">
    <input formControlName="userAge" class="input-age-form" type="number" placeholder="Age number">
    <input formControlName="userCompany" class="input-form" type="text" placeholder="Company name">
    <input formControlName="userDepartment" class="input-form" type="text" placeholder="Department">
    <div class="input-gender-group">
        <input id="male" type="radio" class="gender-input" value="male" formControlName="gender">
        <label class="gender-text" for="male">Male</label>
        <input id="female" type="radio" class="gender-input" value="female" formControlName="gender">
        <label class="gender-text" for="female">Female</label>
     </div>
    <input type="submit" class="send-input" value="Create user card"/>
</form>