.wrapper-of-input-component {
    margin: 0 270px;
    font-family: monospace;

    .input-group {
        display: flex;
        justify-content: center;

        .search-input {
            font-size: 20px;
            font-family: monospace;
            width: 100%;
            padding: 0 10px;
            height: 40px;
            border-radius: 10px 0 0 10px;
            outline: none;
            border: none;
        }

        .submit-for-search-input {
            border-radius: 0 10px 10px 0;
            border: none;
            background-image: url('../../../assets/images/search_icon.png');
            background-size: 40px;
            min-height: 40px;
            min-width: 40px;
            cursor: pointer;
        }
    }

    .data-field-from-input {
        display: flex;
        justify-content: left;
    }
}


