@import '../../../mixins.scss';

.user-card {
    @include fontsSetting;
    padding: $normalValue;
    border-radius: 2 * $rounding;
    width: 400px;
    margin: 5px;
    text-align: center;
    background: white;
    position: relative;

    img {
        border-radius: 50%;
    }

    button {
        @include fontsSetting;
        width: $naturalWidth;
        height: $normalValue;
        border-radius: $rounding;
        background: lightgray;
        color: blue;
        border: none;
        cursor: pointer;
    }

    .user-photo-card {
        display: flex;
        flex-direction: row;
        
        .photo-block {
            width: 130px;
            height: 130px;
            position: relative;
            margin: 10px
        }
        
        .user-status {
            @include userStatus;
            position: absolute;
            bottom: 0;
            left: 90px;
            width: 20px;
            height: 20px;
            cursor: pointer;  
        }
        
        .user-active-status {
            background: chartreuse;
            transition: 0.5s;
        }
        
        .user-inactive-status {
            background: red;
            transition: 0.5s;
        }
    }

    .user-information {
        text-align: left;
        padding: 10px;
    
        p {
            margin: 0;
        }
    }
}

.title-information {
    margin: 0;
}




