.navigation-link {
    font-family: monospace;
    font-size: 30px;
    color: gray;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    border-right: 5px solid white;
}

p {
    margin: 0;
    padding: 20px;
    color: gray;
    font-size: 30px;
    font-family: monospace;
}