<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            List of current currencies
        </mat-panel-title>
        <mat-panel-description>
            Click here
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>The US dollar (denoted by the $ or USD sign) is the national currency of the United States of America. One dollar is equal to 100 cents.</p>
    <p>Euro (denoted by the sign €, or EUR) is the official single currency of the European Union. One euro is equal to 100 cents (the name "euro cents" is also used).</p>
    <p>The Russian ruble is the national currency of the Russian Federation (denoted by the RUB sign and the ₽ symbol).</p>
</mat-expansion-panel>