<div class="user-card">
    <div class="user-photo-card">
        <span class="user-status" [ngClass]="{
            'user-active-status': user.status,
            'user-inactive-status': !user.status }">
        </span>
    </div>
    <p class="user-name"> Name: {{ user.name }} </p>
    <p class="user-age"> Ages: {{ user.age }} </p>
    <log-button [user]="user" (logger)="logger($event)"></log-button>
    <status-button [user]="user" (click)="changeStatus(user)"></status-button>
    <vehicle-card [carInformation]="user.carInformation">
        <p class="title-information">Vehicle information</p>
        <img class="vehicle-photo" src="../../assets/images/car_logo.jpg">
    </vehicle-card>
</div>


