.address-container {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    margin: 20px 0;
    padding: 20px;
}

button {
    width: 100%;
    border: 3px solid rgb(156, 147, 147);
}

.input-zip-code::-webkit-inner-spin-button,
.input-zip-code::-webkit-outer-spin-button {
    appearance: none;
}