@mixin userPhoto {
    border-radius: 50%;
    background-image: url('./assets/images/user_without_photo.jpg');
    background-size: 150px;
}

@mixin fontsSetting {
    font-family: monospace;
    font-size: 14px;
}

@mixin userStatus {
    border-radius: 50%;
    border: 3px solid white;
}

$naturalWidth: 100%;
$normalValue: 20px;
$rounding: 5px;